modules = ["bun-1.0:v1-20230911-f253fb1", "python-3.10:v25-20230920-d4ad2e4"]

hidden = [".config", "bun.lockb"]

[nix]
channel = "stable-23_11"

[deployment]
build = ["sh", "-c", "npx prisma migrate deploy && npx prisma generate && npx next build"]
run = ["sh", "-c", "npx next start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[env]
# LD_LIBRARY_PATH="/nix/store/fq47cv26nb87hwz2678r6i8ym5b57lwf-openssl-3.0.7-bin/lib:${LD_LIBRARY_PATH}"
NIXPKGS_ALLOW_INSECURE="1"
PRISMA_CLI_QUERY_ENGINE_TYPE = "binary"
