modules = ["bun-1.0:v1-20230911-f253fb1", "python-3.10:v25-20230920-d4ad2e4"]

hidden = [".config", "bun.lockb"]

[nix]
channel = "stable-23_11"

# Can't use the latest version of bun on Replit and there are some issues in the deployment
# NPM works, not touching it

[deployment]
build = ["sh", "-c", "npx prisma migrate deploy && npx prisma generate && npx next build"]
run = ["sh", "-c", "npx next start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[env]
NIXPKGS_ALLOW_INSECURE="1"
PRISMA_CLI_QUERY_ENGINE_TYPE = "binary"
