@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-root text-foreground;
  }
  code {
    @apply border-outline-dimmer rounded px-1 py-0.5 text-sm bg-default;
  }
  hr {
    border: none;
    border-top: 2px solid #3f3f46;
  }
  .markdown a {
    @apply text-accent-dimmer underline hover:text-accent-dimmest;
  }
  .markdown strong {
    @apply text-foreground;
  }
  .markdown code {
    @apply text-sm font-mono bg-higher rounded px-1 py-0.5 text-foreground-dimmest;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
